@model MessagingApp.Models.CreateAccountModel
@{
    // Use _LoginLayout layout under Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/CreateAccountStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-action="CreateAccount" method="post">
        <div class="CreateAccountForm">
            <div class="rectangle"></div>
            <h3 id="h3Login">Create Account</h3>
            <div class="fields">
                <p>
                    <label id="FirstNameLabel" asp-for="FirstName">First Name:</label>
                    <input id="FirstNameInput" asp-for="FirstName" />
                </p>
                <p>
                    <label id="LastNameLabel" asp-for="LastName">Last Name:</label>
                    <input id="LastNameInput" asp-for="LastName" />
                </p>
                <p>
                    <label id="UsernameLabel" asp-for="UserName">UserName:</label>
                    <input id="UserNameInput" asp-for="UserName" />
                </p>
                <p>
                    <label id="PhoneNumberLabel" asp-for="Phone_Number">Phone Number:</label>
                    <input id="PhoneNumberInput" asp-for="Phone_Number" />
                </p>
                <p>
                    <label id="EmailLabel" asp-for="Email">Email:</label>
                    <input id="EmailInput" asp-for="Email" />
                </p>
                <p>
                    <label id="DateOfBirthLabel" asp-for="DateOfBirth">Date of Birth:</label>
                    <input type="date" id="DateOfBirthInput" asp-for="DateOfBirth" />
                </p>
                <p>
                    <label id="PasswordLabel" asp-for="Password">Password:</label>
                    <input id="PasswordInput" asp-for="Password" />
                </p>
                <p>
                    <label id="ConfirmPasswordLabel" asp-for="ConfirmPassword">Confirm Password:</label>
                    <input id="ConfirmPasswordInput" asp-for="ConfirmPassword" />
                </p>
            </div>
            <button id="CancelButton" type="submit" asp-controller="Login" asp-action="Login">Cancel</button>
            <button id="CreateAccountButton" type="submit" asp-controller="Login" asp-action="Login">Create Account</button>
        </div>
    </form>

</body>
</html>
