@model MessagingApp.Models.ForgotPasswordModel
@{ 
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/ForgotPasswordStyleSheet.css" />

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-action="ForgotPassword" method="post">
        <div class="ForgotPasswordForm">
            <h3>Forgot Password</h3>
            <div class="fields">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p>
                    <label id="UsernameLabel" asp-for="Username">Username:</label>
                    <input id="UsernameInput" asp-for="Username" />
                    <br>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </p>
                <p>
                    <label id="EmailLabel" asp-for="Email"></label>
                    <input id="EmailInput" asp-for="Email" />
                    <br>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </p>
                <p>
                    <label id="SecurityCodeLabel" asp-for="SecurityCode">Security Code:</label>
                    <input id="SecurityCodeInput" asp-for="SecurityCode" />
                </p>


            </div>
            <button id="SendCodeButton" type="submit">Send Code</button>
            <!--If code is correct than go to the changePassword Page-->
            <button id="ConfirmCodeButton" type="submit">Confirm Code</button>
            <button id="CancelButton" type="button" onclick="location.href='@Url.Action("Index", "Login")'">Cancel</button>
        </div>
</form>
</body>
</html>