@model MessagingApp.Models.LoginModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/LoginStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-action="Login" method="post">
        <div class="loginForm">
            <div class="rectangle"></div>
            <h3 id="h3Login">Login</h3>
            <div class="fields">
                <p>
                    <label id="UsernameLabel" asp-for="Name">Username:</label>
                    <input id="UsernameInput" asp-for="Name" placeholder="Enter Username"/>
                </p>
                <p>
                    <label id="PasswordLabel" asp-for="Password">Password:</label>
                    <input id="PasswordInput" asp-for="Password" placeholder="Enter Password" />
                </p>
            </div>
            <button id="LoginButton" type="submit" asp-controller="Home" asp-action="Index">Login</button>
            <button id="CreateAccountButton" type="submit" asp-controller="Login" asp-action="CreateAccount">Create Account</button>
            <button id="ForgotPasswordButton" type="submit">Forgot Password</button>
        </div>

    </form>
</body>
</html>
