@model MessagingApp.Models.LoginModel
@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/LoginStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-action="Login" method="post">
        <div id = "LoginBackground">
           <img src="/Images/earth (Large).jpeg"/>
        </div>

        <div class="loginForm">
            <div class="rectangle"></div>
            <h3 id="h3Login">Login</h3>
            <div class="fields">
                <p>
                    <label id="UsernameLabel" asp-for="Name">Username:</label>
                    <input id="UsernameInput" asp-for="Name" placeholder="Enter Username" />
                    <br>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </p>
                <p>
                    <label id="PasswordLabel" asp-for="Pass">Password:</label>
                    <input id="PasswordInput" asp-for="Pass" placeholder="Enter Password" />
                    <br>
                    <span asp-validation-for="Pass" class="text-danger"></span>
                </p>
            </div>
            <button id="LoginButton" type="submit">Login</button>
            <button id="CreateAccountButton" type="button" onclick="location.href='@Url.Action("CreateAccountScreen", "Login")'">Create Account</button>
            <button id="ForgotPasswordButton" type="button" onclick="location.href='@Url.Action("ForgotPasswordScreen", "Login")'">Forgot Password</button>
        </div>
    </form>
</body>
</html>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}