@model MessagingApp.Models.LoginModel
@{ Layout = "LoginLayout"; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-action="Login" method="post">
        <h3 for="h3Login">Login</h3>
        <p>
            <label for="UsernameLabel" asp-for="Name">Username:</label>
            <input for="UsernameInput" asp-for="Name" placeholder="Username" />
            <!--<span asp-validation-for="Name" class="text-danger"></span>-->
        </p>
        <p>
            <label for="PasswordLabel" asp-for="Pass">Password:</label>
            <input for="PasswordInput" asp-for="Pass" placeholder="Password" />
            <!--<span asp-validation-for="Pass" class="text-danger"></span>-->
        </p>

        <button for="LoginButton" type="submit" asp-action="login">Login</button>
        <button for="CreateAccountButton" type="submit" asp-action="CreateAccount">Create Account</button>
        <button for="ForgotPasswordButton" type="submit">Forgot Password</button>
    </form>
</body>
</html>
