@{
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/AccountSettingsStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="whole">

        <h1>Account Settings</h1>



        <div class="c">

            <p2>Username: </p2>
            <input type="text" id="uname" name="username" placeholder="Your Username..">
            <br />
            <br />
            <br />
            <br />

            <p3>Email: </p3>
            <input type="text" id="email" name="email" placeholder="Your Email.">
            <br />
            <br />
            <br />
            <br />
            <p4>Profile Picture:</p4>





        </div>

        <div class="second">
        <div class=" Buttons">

            <button class="button button1" type="submit">Apply Changes</button>
           <!-- <button class="button button2">Cancel</button>-->
            <button class="button button3" type="button" onclick="location.href='@Url.Action("ChangePassword", "Home")'">Change Password</button>

        </div>
    </div>
    <!--- </div>-->
</body>
</html>
