@{
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/AccountSettingsStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="whole">
        
            <h1>Account Settings</h1>
        

        
            <div class="c">

                <h2>Username: </h2>
                <input type="text" id="uname" name="username" placeholder="Your Username..">


                <h3>Email: </h3>
                <input type="text" id="email" name="email" placeholder="Your Email.">

                <h4>Profile Picture:</h4>





            </div>
        
      <!---<div class="second">-->
            <div class=" Buttons">




                <button class="button button1">Apply Changes</button>
                <button class="button button2">Cancel</button>
                <button class="button button3">Change Password</button>

            </div>
        </div> 
   <!--- </div>-->
</body>
</html>
