@model MessagingApp.Models.LoginChangePasswordModel
@{ 
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/ChangePasswordStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-action="ChangePassword" method="post">
        <div class="LoginChangePasswordForm">
            <h3>Change Password</h3>
            <div class="fields">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p>
                    <label id="NewPasswordLabel" asp-for="NewPassword"></label>
                    <input type="text" class="trigger" id="NewPasswordInput" asp-for="NewPassword" />
                    <br>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </p>
                <p>
                    <label id="ConfirmPasswordLabel" asp-for="ConfirmPassword"></label>
                    <input type="text" class="trigger" id="NewPasswordInput" asp-for="ConfirmPassword" />
                    <br>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </p>
            </div>
            <button id="ResetPasswordButton" type="submit">Reset Password</button>
            <button id="CancelButton" type="button" onclick="location.href='@Url.Action("AccountSettings", "Home")'">Cancel</button>
        </div>
</form>
</body>
</html>