@model MessagingApp.Models.ContactsModel

@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/ContactsStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="contactContainer">
        <form class="centered contactSearchArea" asp-action="Contact" method="post">
            <h1>Contacts</h1>
            <div class="fields">
                <p>                    
                    <label class="addContactLabel">Add contact:</label>
                    <select class="addContactDropdown">
                        <!-- add contact from database to the dropdown by using a for loop below with the value being equal to the contact's username from the database -->

                        <option value="all">name of contact</option>
                    </select>
                    <br>
                </p>
            </div>
        </form>
        <form class="centered viewContactsArea" asp-action="GroupTemplate" method="post">
            <div class="fields">
                <label class="contactLabel">Contacts:</label>
                <br>
                @{
                    for (int i = 0; i < HomeModel.m_contactslist.Count; i++)
                    {
                        <button id="contactButtons" name="button" type="submit" value="@HomeModel.m_contactslist[i]" onclick="location.href='@Url.Action("ContactsTemplate", "Chat")?name=@HomeModel.m_contactslist[i]'">@HomeModel.m_contactslist[i]</button>;
                    }
                }
                <!-- display contacts (Example: 1. friend name) -->
                <!-- display groups that are similar -->
                <br>
            </div>
        </form>
        <div class="centered buttonArea">
            <button class="addContactButton" type="submit">Add Contact</button>
            <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Index", "Home")'">Go home</button>
        </div>
    </div>
</body>
</html>
