@{
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/PinnedMessagesStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="test">
        <h1>Pinned Messages</h1>
    </div>
</body>
</html>
