@{
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/PinnedMessagesStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="test">
        <h1>Pinned Messages</h1>
    </div>
    <div class="a">

        <h2>     Pinned Messages                   </h2>
        <h3>  UserName:    </h3>
        <h4>  Message:       </h4>
        <h5>  Name of group:   </h5>
      



    </div>
</body>
</html>
