@{
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/PinnedMessagesStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="test">
        <h1>Pinned Messages</h1>
        @{
            for (int k = 0; k < HomeModel.m_Pinnedlist.Count(); k++)
            {
                <p>
                    <h3>@HomeModel.m_userPinnedlist[k] says:@HomeModel.m_Pinnedlist[k] </h3>
                </p>
            }
        }
    </div>
</body>
</html>
