@{
    Layout = null;
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/PreferencesStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="test">
        <h1>Preferences</h1>






    </div>

    <div class=" b">

        <p2> Text Color </p2>
        <select id="tcolor" name="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
        </select>
        <br />
        <br />
        <br />
        <br />


        <p3> Background Theme </p3>
        <select id="theme" name="Theme">
            <option value="t1">Theme 1</option>
            <option value="t2">Theme 2</option>
            <option value="t3">Theme 3</option>
            <option value="t4">Theme 4</option>
        </select>




    </div>
</body>
</html>