@model MessagingApp.Models.CreateGroupModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Chat_StyleSheet/CreateGroupStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="createGroupContainer">
        <form class="centered createGroupArea" asp-action="CreateGroup" method="post">
            <h1>Create Group Chat</h1>
            <div class="fields">
                <p>
                    <label class="titleLabel" asp-for="groupChatTitle">Title:</label>
                    <label style="color: red; position:initial">*</label>
                    <input class="usernameInput" asp-for="groupChatTitle" placeholder="Enter name of group chat" />
                    <br>
                    <span asp-validation-for="groupChatTitle" class="text-danger"></span>
                </p>
                <p>
                    <input type="radio" class="privateRadioContainer" asp-for=radioField value="private">
                    <label for="private">Private</label><br>
                    <input type="radio" class="publicRadioContainer" asp-for=radioField value="public">
                    <label for="public">Public</label><br>

                    <!--
                    <input type="radio" asp-for=radioField value="option1" checked />
                    <br>
                    <input type="radio" asp-for=radioField value="2" checked /> -->

                    <label class="inviteContactLabel">Contact:</label>
                    <select asp-for=inviteContact class="inviteContactDropdown">
                        @for (int i = 0; i < HomeModel.m_contactslist.Count(); i++)
                        {

                            <option value="@HomeModel.m_contactslist[i]">@HomeModel.m_contactslist[i]</option>

                        }
                    </select>

                    <!--<label class="inviteContactLabel">Invite Contacts:</label>

                    <input class="inviteContactInput" asp-for="inviteContact" placeholder="Enter a username" />-->
                </p>
            </div>
            <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Home", "Home")'">Home</button>
            <button class="createChatButton" type="submit">Create Chat</button>

        </form>
    </div>
</body>
</html>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () {
        alert("@ViewBag.Message");
    };
    </script>
}