@model MessagingApp.Models.CreateTopicModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Chat_StyleSheet/CreateTopicStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="createGroupContainer">
        <form class="centered createGroupArea" asp-action="Login" method="post">
            <h1>Create Topic</h1>
            <div class="fields">
                <p>
                    <label class="topicNameLabel">Topic Name:</label>
                    <textarea class="topicNameTextArea" asp-for="topicName" placeholder="Enter name of topic" ></textarea>
                    <br>
                    <span asp-validation-for="topicName" class="text-danger"></span>
                </p>
                <p>
                    <label class="descriptionLabel">Description:</label>
                    <textarea type="text" class="descriptionTextArea" asp-for="description" placeholder="Enter description of topic" ></textarea>
                    <br>
                    <span asp-validation-for="description" class="text-danger"></span>
                </p>
                <p>
                    <label class="questionLabel">Question:</label>
                    <textarea class="questionTextArea" asp-for="question" placeholder="Enter question for topic" ></textarea>
                    <br>
                    <span asp-validation-for="question" class="text-danger"></span>
                </p>
                <p>
                    <input type="radio" class="privateRadioContainer" name="groupType" value="private">
                    <label for="private">Private</label><br>
                    <br>
                    <input type="radio" class="publicRadioContainer" name="groupType" value="public">
                    <label for="public">Public</label><br>
                </p>
                <br>
                <label class="inviteContactLabel">Invite Contacts:</label>
                <textarea class="inviteContactTextArea" asp-for="inviteContact" placeholder="Enter a username"></textarea>
                
            </div>            
            <button class="previewButton" type="submit">Preview</button>
            <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Home", "Home")'">Go home</button>
            <button class="createTopicButton" type="submit">Create Topic</button>
        </form>
    </div>
</body>
</html>
