@model MessagingApp.Models.HomeModel
@{
    // Use login layout under View->Shared folder
    Layout = "_Layout";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Chat_StyleSheet/CreateGroupStyleSheet.css" />
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="createGroupContainer">
        <form class="centered createGroupArea" asp-action="CreateGroup" method="post">
            <h1>Create Group Chat</h1>

            <div id="ScrollBox">
                @{
                    for (int i = 0; i < HomeModel.m_grouplist.Count; i++)
                    {
                        <button id="groupButtons" name="button" type="submit" value="@HomeModel.m_grouplist[i]" onclick="location.href='@Url.Action("GroupTemplate", "Chat")?name=@HomeModel.m_grouplist[i]'">@HomeModel.m_grouplist[i]</button>;
                    }
                }
                </div>



                

                <button class="goHomeButton" type="button" onclick="location.href='@Url.Action("Index", "Home")'">Go home</button>
                <button class="createChatButton" type="submit">Create Chat</button>
        </form>
    </div>
</body>
</html>
